.itinerary-listview, .expense-linker-listview, .expense-listview {
    -fx-padding: 10px;
    -fx-background-color: white;
    -fx-background-radius: 20px;
    -fx-border-radius: 20px;
}

.itinerary-cell {
    -fx-padding: 10px;
    -fx-background-color: #dadada;
    -fx-background-radius: 20px;
    -fx-border-radius: 20px;
    -fx-text-fill: black;
}

.expense-linker-cell, .expense-linker-listview .list-cell, expense-listview .list-cell {
    -fx-padding: 5px;
    -fx-background-color: #cccccc;
    -fx-background-radius: 20px;
    -fx-border-radius: 20px;
    -fx-text-fill: black;
}

.itinerary-listview .list-cell:selected, .expense-linker-listview .list-cell:selected, .expense-listview .list-cell:selected {
    -fx-border-color: #000000;
}

.itinerary-listview .list-cell:empty, .expense-linker-listview .list-cell:empty, .expense-listview .list-cell:empty {
    -fx-background-color: #f3f3f3;
}

.itinerary-listview .list-cell:odd, .itinerary-listview .list-cell:even {
    -fx-background-color: #dadada;
}

.itinerary-listview .list-cell {
    -fx-background-color: #dadada;
    -fx-background-radius: 20px;
    -fx-border-radius: 20px;
}

.expense-listview .list-cell {
    -fx-background-color: #cccccc;
    -fx-background-radius: 20px;
    -fx-border-radius: 20px;
}