/* <editor-fold desc="Itinerary"> */
.itinerary-listview {
    -fx-padding: 10px;
    -fx-background-color: white;
    -fx-background-radius: 20px;
    -fx-border-radius: 20px;
}

.itinerary-cell {
    -fx-padding: 10px;
    -fx-background-color: #dadada;
    -fx-background-radius: 20px;
    -fx-border-radius: 20px;
    -fx-text-fill: black;
}

.itinerary-listview .list-cell {
    -fx-padding: 10px;
    -fx-background-color: #dadada;
    -fx-background-radius: 20px;
    -fx-border-radius: 20px;
}

/* </editor-fold> */

/* <editor-fold desc="Expense Linker"> */
.expense-linker-listview {
    -fx-padding: 10px;
    -fx-background-color: white;
    -fx-background-radius: 20px;
    -fx-border-radius: 20px;
}

.expense-linker-cell {
    -fx-padding: 5px;
    -fx-background-color: #cccccc;
    -fx-background-radius: 20px;
    -fx-border-radius: 20px;
    -fx-text-fill: black;
}

.expense-linker-cell .button {
    -fx-background-color: #e8e8e8;
}

.expense-linker-cell .button:hover {
    -fx-background-color: #a3a3a3;
}

.expense-linker-listview .list-cell {
    -fx-padding: 5px;
    -fx-background-color: #cccccc;
    -fx-background-radius: 20px;
    -fx-border-radius: 20px;
    -fx-text-fill: black;
}

/* </editor-fold> */

/* <editor-fold desc="Expense List"> */
.expense-listview {
    -fx-padding: 10px;
    -fx-background-color: white;
    -fx-background-radius: 20px;
    -fx-border-radius: 20px;
}

.expense-listview .list-cell {
    -fx-padding: 5px;
    -fx-background-color: #cccccc;
    -fx-background-radius: 20px;
    -fx-border-radius: 20px;
    -fx-text-fill: black;
}

/* </editor-fold> */

/* <editor-fold desc="Cost List" */
.cost-list {
    -fx-padding: 5px;
    -fx-background-color: white;
    -fx-background-radius: 20px;
    -fx-border-radius: 20px;
}

.cost-list-cell {
    -fx-padding: 10px;
    -fx-background-color: transparent;
    -fx-background-radius: 20px;
    -fx-border-radius: 20px;
    -fx-text-fill: black;
}

.cost-list .list-cell {
    -fx-padding: 5px;
    -fx-background-color: transparent;
    -fx-background-radius: 20px;
    -fx-border-radius: 20px;
    -fx-text-fill: black;
}

/* </editor-fold> */

/* <editor-fold desc="Plan Section List"> */
.plan-layout-listview {
    -fx-padding: 10px;
    -fx-background-color: white;
    -fx-background-radius: 20px;
    -fx-border-radius: 20px;
}

.plan-section-cell {
    -fx-padding: 10px;
    -fx-background-color: transparent;
    -fx-background-radius: 20px;
    -fx-border-radius: 20px;
    -fx-text-fill: black;
}

.plan-section-cell .check-box .box {
    -fx-border-color: rgba(74, 74, 74, 255);
    -fx-background-radius: 20px;
    -fx-border-radius: 20px;
}

.plan-layout-listview .list-cell {
    -fx-padding: 5px;
    -fx-background-color: transparent;
    -fx-background-radius: 20px;
    -fx-border-radius: 20px;
    -fx-text-fill: black;
}

/* </editor-fold> */
/* <editor-fold desc="Upcoming Trips List"> */
.upcoming-trips-listview {
    -fx-padding: 10px;
    -fx-background-color: white;
    -fx-background-radius: 20px;
    -fx-border-radius: 20px;
}

/* Cell Layout CSS */
.upcoming-trip-cell {
    -fx-background-color: #e8e8e8;
    -fx-background-radius: 20px;
    -fx-border-radius: 20px;
}

/* Internal Cell CSS */
.upcoming-trips-listview .list-cell {
    -fx-padding: 5px;
    -fx-background-color: transparent;
    -fx-background-radius: 20px;
    -fx-border-radius: 20px;
}

/* </editor-fold> */

/* <editor-fold desc="Shared"> */

.list-cell:selected {
    -fx-border-color: black;
}

.list-cell:empty {
    -fx-background-color: white !important;
}

/* </editor-fold> */
