* {
    -fx-effect: null;
    -fx-background-insets: 0;
}

.list-view .scroll-bar .thumb {
    -fx-background-color: #a5a5a5;
}

/* <editor-fold desc="Text Field and Text Area"> */

.text-field, .text-area {
    -fx-background-color: #c8c8c8;
    -fx-background-radius: 20px;

    -fx-border-radius: 20px;
    -fx-border-color: #c8c8c8;
    -fx-border-width: 1px;
    -fx-border-style: solid;
}

.text-field, .text-area {
    -fx-prompt-text-fill: #3a3a3a;
}

.text-area:hover, .text-field:hover {
    -fx-background-color: #939393;
}

/* </editor-fold> */

/* <editor-fold desc="Button"> */

.button {
    -fx-background-color: #c8c8c8;
    -fx-background-radius: 20px;

    -fx-border-radius: 20px;
    -fx-border-color: #c8c8c8;
    -fx-border-width: 1px;
    -fx-border-style: solid;
    -fx-text-fill: black;
}

.button:hover {
    -fx-background-color: #939393;
}

.button.destructive {
    -fx-background-color: #ff5959;
    -fx-border-color: #ff5959;
}

.button.destructive:hover {
    -fx-background-color: #b83f3f;
    -fx-border-color: #b83f3f;
}

.button.destructive:pressed {
    -fx-background-color: #802d2d;
    -fx-border-color: #802d2d;
}

.button:pressed {
    -fx-background-color: #787878;
}

/* </editor-fold> */

/* <editor-fold desc="Inline Text Field and Text Area"> */
.text-field.inline, .text-area.inline {
    -fx-background-color: transparent;

    -fx-border-color: #c8c8c8;
    -fx-border-width: 0 0 2px 0;
    -fx-border-radius: 0px;
    -fx-border-style: solid;

    -fx-prompt-text-fill: #3a3a3a;
}

.text-field.inline:hover, .text-area.inline:hover {
    -fx-border-color: black;
}

/* </editor-fold> */

/* <editor-fold desc="Inline Combo Box"> */
.combo-box.inline {
    -fx-background-color: transparent;
    -fx-border-width: 0 0 2px 0;
    -fx-border-radius: 0px;
    -fx-border-style: solid;
    -fx-border-color: #c8c8c8;
}

.combo-box.inline:hover {
    -fx-border-color: black;
}

.combo-box.inline .list-cell {
    -fx-background-color: transparent !important;
    -fx-border-width: 0 !important;
}

/* </editor-fold> */

/*<editor-fold desc="Date Picker and Spinner">*/
.date-picker > .text-field, .spinner > .text-field {
    -fx-border-radius: 20 0 0 20;
    -fx-background-radius: 20 0 0 20;
}

.date-picker, .spinner {
    -fx-background-radius: 20 0 0 20;
}


.date-picker > .arrow-button {
    -fx-background-color: #c8c8c8;
    -fx-border-width: 0 0 0 1px;
    -fx-border-style: solid;
    -fx-border-color: #9c9c9c;
}

.date-picker > .arrow-button:hover {
    -fx-background-color: #bcbcbc;
}

.date-picker > .arrow-button:pressed {
    -fx-background-color: #787878;
}

.spinner > .increment-arrow-button, .spinner > .decrement-arrow-button {
    -fx-background-color: #c8c8c8;
    -fx-border-width: 0 0 0 1px;
    -fx-border-style: solid;
    -fx-border-color: #9c9c9c;
}

.spinner > .increment-arrow-button:hover, .spinner > .decrement-arrow-button:hover {
    -fx-background-color: #bcbcbc;
}

.spinner > .increment-arrow-button:pressed, .spinner > .decrement-arrow-button:pressed {
    -fx-background-color: #787878;
}

/*</editor-fold>*/

.list-view {
    -fx-border-color: #787878;
    -fx-background-radius: 20px;
    -fx-border-radius: 20px;
}

/* <editor-fold desc="Combo Box"> */

.combo-box {
    -fx-background-color: #c8c8c8;
    -fx-border-radius: 20px;
    -fx-background-radius: 20px;
}

.combo-box .list-cell {
    -fx-border-width: 1px;
    -fx-border-color: #c8c8c8;
    -fx-border-radius: 20px;
    -fx-background-radius: 20px;
}

.combo-box-popup .list-view {
    -fx-background-color: #c8c8c8;
    -fx-border-color: black;
    -fx-border-radius: 10px;
    -fx-background-radius: 10px;
}

.combo-box-popup .list-view .list-cell {
!important;
    -fx-background-color: #c8c8c8;
    -fx-border-radius: 10px;
    -fx-background-radius: 10px;
}

.combo-box-popup .list-view .list-cell:focused, .combo-box-popup .list-view .list-cell:hover {
    -fx-background-color: #393939 !important;
}


/* </editor-fold> */

/*<editor-fold desc="Toggle Button">*/

.toggle-button {
    -fx-background-radius: 20px;
    -fx-border-radius: 20px;

    -fx-border-color: #c8c8c8;
    -fx-border-width: 1px;
    -fx-border-style: solid;
    -fx-background-color: #ff2828;

    -fx-text-fill: white;
}

.toggle-button:selected {
    -fx-background-color: #02bd00;
}

/*</editor-fold>*/

/*<editor-fold desc="Toggle Button (Sort Direction)">*/

.toggle-button.sort-direction-selector {
    -fx-background-color: #939393;
}

.toggle-button.sort-direction-selector:selected {
    -fx-background-color: #424242;
}

/*</editor-fold>*/

/*<editor-fold desc="Toggle Button (Mode)">*/
.toggle-button.mode:selected {
    -fx-background-color: #0068df;
}

.toggle-button.mode {
    -fx-background-radius: 20px;
    -fx-border-radius: 20px;

    -fx-border-color: #c8c8c8;
    -fx-border-width: 1px;
    -fx-border-style: solid;
    -fx-background-color: #da0000;

    -fx-text-fill: white;
}

/*</editor-fold>*/

/*<editor-fold desc="Tab Pane">*/
.tab-pane .tab {
    -fx-background-color: #c8c8c8;
    -fx-focus-color: transparent;
}

.tab-pane .tab-header-area {
    -fx-alignment: center;
}

.tab-pane .tab:selected {
    -fx-background-color: #34ed4d;
}

.tab:selected {
    -fx-font-weight: bold;
}

.tab .tab-label {
    -fx-alignment: center;
    -fx-text-fill: #3c3c3c;
    -fx-font-size: 14px;
}

.tab-pane > .tab-header-area {
    -fx-padding: 5px 5px 5px 5px;
}

/*</editor-fold>*/

/*<editor-fold desc="Checkbox">*/
.check-box > .box {
    -fx-background-color: #c8c8c8;
}

.check-box > .text {
}

/*</editor-fold>*/


.people-count-picker {
    -fx-font-size: 20px;
}

.day-picker {
    -fx-font-size: 20px;
}

.options-panel {
    -fx-background-color: #dadada;
    -fx-background-radius: 20px;
    -fx-border-radius: 20px;
}

/* <editor-fold desc="Unsaved Changes Notification"> */

.unsaved-changes-panel {
    -fx-background-color: #ffe979;
    -fx-border-radius: 10px;
    -fx-background-radius: 10px;
}

.unsaved-changes-panel > .button {
    -fx-background-color: #ffeea2;
    -fx-border-color: black;
    -fx-font-weight: bold;
}

.unsaved-changes-panel > .button:hover {
    -fx-background-color: #a59a69;
}

/* </editor-fold> */

/* <editor-fold desc="Return to Planner Notification"> */

.return-to-planner-panel {
    -fx-background-color: #86f189;
    -fx-border-radius: 10px;
    -fx-background-radius: 10px;
}

.return-to-planner-panel > .button {
    -fx-background-color: #baffbb;
    -fx-border-color: black;
    -fx-font-weight: bold;
}

.return-to-planner-panel > .button:hover {
    -fx-background-color: #80ae81;
}

/* </editor-fold> */

/* <editor-fold desc="Read-only Mode Notification"> */

.readonly-panel {
    -fx-background-color: #ff7979;
    -fx-border-radius: 10px;
    -fx-background-radius: 10px;
}

.readonly-panel > .button {
    -fx-background-color: #ffa1a1;
    -fx-border-color: black;
    -fx-font-weight: bold;
}

.readonly-panel > .button:hover {
    -fx-background-color: #9c6363;
}

/* </editor-fold> */

.error-panel {
    -fx-background-color: #f65f5f;
    -fx-border-radius: 10px;
    -fx-background-radius: 10px;
}

.cost-chart {
    -fx-background-color: white;
    -fx-background-radius: 20px;
    -fx-border-radius: 20px;
    -fx-border-color: #787878;
}

.amount-panel {
    -fx-background-color: white;
    -fx-background-radius: 20px;
    -fx-border-radius: 20px;
    -fx-border-color: #787878;
}

.daily-budget-panel {
    -fx-border-color: #ffc52e;
    -fx-border-width: 2px;
    -fx-background-color: #ffdb7a;
    -fx-background-radius: 20px;
    -fx-border-radius: 20px;
}

.daily-budget-panel.square {
    -fx-background-radius: 5px;
    -fx-border-radius: 5px;
}

.daily-budget-panel.exceeded {
    -fx-border-color: #ff2e2e;
    -fx-background-color: #ff7979;
}
